{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>덕성여자대학교 전자투표 서비스</title>

  {% block head %}
  {% endblock head %}


  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

  <style>
  .bg-gradient-primary{
    background : #555b6e;
  }

  .btn.btn-user {
    background : #0078dc;
  } 

  .navbar-nav .nav-item a:hover {
      background: #89b0ae;
  }
  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" >

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'main'%}" style="background:white;">
        <div class="sidebar-brand-text mx-3"><img class="duksung-logo" src="{% static 'img/duksung_logo.png'%}" alt="duksung-logo" width='50' height='50'></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'mypage'%}">    <!--링크 마이페이지로 바꾸기-->
          <center><img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"></center>
          {% if request.user.is_authenticated %}
          <center><span class="mr-2 d-none d-lg-inline text-white-900 small">{{ user.username }}</span></center>
          {%endif%}
          </a>
      </li>
      <center>
      <a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
        <form id="logout" method="POST" action="{% url 'logout' %}">
            {% csrf_token %} <input type="hidden" />
        </form>
      <!--
        <button data-toggle="modal" data-target="#exampleModallogout" class="btn btn-icon-split btn-user text-white">
            <span class="text">Logout</span>
          </button>
      -->
        </center>
        <br>
      

      <!-- Divider -->
      <hr class="sidebar-divider">


      <!-- Nav Item - 마이페이지 -->
       <li class="nav-item">
        <a class="nav-link text-white-900" data-toggle="tab-hover" href="{% url 'mypage'%}">
          <span>마이페이지</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - 공지 -->
        <li class="nav-item">
        <a class="nav-link text-white-900" href="{% url 'notice'%}">
          <span>공지사항</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - 투표 -->
      <li class="nav-item">
        <a class="nav-link collapsed text-white-900" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <span>투표</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'school-vote'%}">학교</a>   <!-- 링크 연결 페이지 바꾸기-->
            <a class="collapse-item" href="{% url 'college-vote'%}">학부 / 단과대</a>
            <a class="collapse-item" href="{% url 'department-vote'%}">학과</a>
          </div>
        </div>
      </li>

         <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - 건의 -->
      <li class="nav-item">
        <a class="nav-link collapsed text-white-900" href="#" data-toggle="collapse" data-target="#collapsePages2" aria-expanded="true" aria-controls="collapsePages2">
          <span>건의</span>
        </a>
        <div id="collapsePages2" class="collapse" aria-labelledby="headingPages2" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{% url 'suggest-vote'%}">투표</a>   <!-- 링크 연결 페이지 바꾸기-->
            <a class="collapse-item" href="{% url 'suggest-other'%}">기타</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModallogout" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalTitle">로그아웃</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            로그아웃 되었습니다.
          </div>
          <div class="modal-footer">
            <a href = "{% url 'login-new'%}"><button type="button" class="btn text-white">확인</button></a>
          </div>
        </div>
      </div>
    </div>

        {% block content %}
        {% endblock content %}
      
    </div>

    <!-- 왼쪽 메뉴바 끝, 본문 시작 -->


<!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js'%}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js'%}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js'%}"></script>
  <script src="{% static 'js/demo/chart-bar-demo.js'%}"></script>

   <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js'%}"></script>
   

</body>

</html>
