{% extends 'base.html' %}

{% block head %}
<!-- 이미지 슬라이드에 필요한 css -->
<style>
  .carousel-item {
    height: 90vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover
  }


  .my-vote-ok{
    margin-top : 40px;
    background-color: #0078dc;
    border-color: #0078dc;
    color: #FFF; 
  }
</style>

{% endblock head %}

<!-- content 시작 -->
{% block content %}

<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <div class="row">
      <div class="col-lg-12" >

      <!-- 이미지 슬라이드 -->
      <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('../static/img/슬라이드1.PNG')">
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('../static/img/슬라이드2.PNG')" >
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
             <div class="carousel-item" style="background-image: url('../static/img/슬라이드3.PNG')">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>

        <div class="my-vote-ok">
          <a href="{% url 'mypage'%}" class="btn btn-block text-white" > 나의 투표 확인하기</a>
        </div>

      </header>
      </div>
      </div>
      </div>

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; onetouch 2020</span>
            <br>
            <span> HJ SH SJ SW TY </span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

      </div>

      
<!-- Content 끝 -->

<!-- 이미지 슬라이드 구현시 필요한 js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

{% endblock content %}