{% extends 'base.html' %}

{% block content %}
<!-- content 시작 -->
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <!--학생 정보 -->
            <br><br>
            <div class="mypage-info">
                <h1 class="h3 mb-2 text-gray-800">마이페이지</h1>
                <br>
                    <div class="mypage-info-img" style="float:left; margin-right:30px">
                        <img src="https://image.dongascience.com/Photo/2020/03/5bddba7b6574b95d37b6079c199d7101.jpg" alt="학생증명사진" width="150" height="180">
                    </div>
                    <div class="mypage-info-text" style="float:left">
                        <h1 class="h5 text-gray-800">학생정보</h1>
                        <br>
                        <p class="h6 text-gray-800">단과대 / 학부 : 공과대학</p>
                        <p></p>
                        <p class="h6 text-gray-800">학과 : 컴퓨터공학과</p>
                        <p class="h6 text-gray-800">학번 : 2018xxxx</p>
                        <p class="h6 text-gray-800">이름 : 홍길동</p>
                    </div>
            </div>
            <!-- 학생 정보 끝 -->  


        </div>
    </div>
</div>
<!-- content 끝-->
{% endblock content %}