{% extends 'base.html' %}
{% block content %}
    <!-- Begin Page Content -->
        <div class="container-fluid">
         <br><br><br>
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">참여 가능한 투표</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- 소속 드롭 다운 버튼-->
          <nav class="navbar navbar-expand navbar-light bg-light mb-4">
                <a class="navbar-brand" href="#">소속</a>
                    <ul class="navbar-nav ml-auto"> 
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated--fade-in" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">학교</a>
                          <a class="dropdown-item" href="#">단체/학부</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">학과</a>
                        </div>
                      </li>
                    </ul>
                    </a>
                  </nav>

                  
        </div>
{% endblock content %}