{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
.pagination {
    justify-content: center;
}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

{% endblock head%}

{% block content %}
<div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

        <br><br>
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">건의하기</h1>
          <p class="mb-4">기타 사항에 대해 건의하는 게시판입니다.</p>

          <!-- DataTales Example -->
          <div class="mb-4" style="">
            <div>
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">제목</th>
                      <th scope="col">작성자</th>
                      <th scope="col">조회</th>
                      <th scope="col">등록일</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for suggest_other in suggest_others %}
                      <tr>
                        <th scope="row" >{{suggest_other.sgother_pk}}</th>  
                        <td> <a href="{%url 'suggest_other_content' pk=suggest_other.sgother_pk%}">
                          {{suggest_other.sgother_title}} </a></td>
                        <td>{{ suggest_other.sgother_writer }}</td>
                        <td>{{ suggest_other.sgother_count }}</td>
                        <td>{{ suggest_other.sgother_updateday }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <nav aria-label="단과대/학부 투표">
              {% if suggest_others.has_other_pages %} <!-- 한 화면에 10 개씩 보여 주는 경우에 다음 페이지가 있을 경우 -->
                <ul class = "pagination">

                  {% if suggest_others.has_previous %} <!-- 현재 페이지에서 이전 페이지가 존재할 때 활성화, 없을 경우 비활성화 -->
                    <li class = "page-item"><a class = "page-link" href="?page={{ suggest_others.previous_page_number }}">&laquo;</a></li>
                  {% else %}
                    <li class = "page-item disabled"><span class="page-link">&laquo;</sapn></li>
                  {% endif %}

                  {% for i in paginator_range %} <!-- 페이지를 전부 보여 준다 -->

                    {% if suggest_others.number == i %} <!-- 현재 보고 있는 페이지일 경우, 선택 표시 -->
                      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %} 

                  {% endfor %}

                  {% if suggest_others.has_next %} <!-- 현재 페이지에서 다음 페이지가 존재할 때 활성화, 없을 경우 비활성화 -->
                    <li class="page-item"><a class="page-link" href="?page={{ suggest_others.next_page_number }}">&raquo;</a></li>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</sapn></li>
                  {% endif %}

                </ul>

              {% comment %} {% else %}  <!-- 다음 페이지가 없을 경우, 페이지 1 선택 효과와 이전 버튼과 다음 버튼 비활성화 -->
                <ul class = "pagination">
                  <li class = "page-item disabled"><span class="page-link">&laquo;</sapn></li>
                  <li class="page-item active"><a class="page-link" href="?page={{ 1 }}">{{ 1 }}<span class="sr-only">(current)</span></a></li>
                  <li class="page-item disabled"><span class="page-link">&raquo;</sapn></li>
                </ul>  {% endcomment %}

              {% endif %} 
            </nav>

          <div style="float:right; margin-right: 20px; margin-bottom: 10px;">
            <a href="{%url 'new_suggest_other'%}">
            <img src="{% static 'img/write.svg'%}" alt="새글 작성 기호" width="30" height="30">글쓰기
            </a>
          </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

       <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
            <br>
            <span>TY SW SJ SH HJ</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  
{% endblock content %}